<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">NYU-Poly ClubHub</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/clubs">Clubs</a>
        </li>
        <li>
          <a href="/events">Events</a>
        </li>
            
      <% if validate_user(session) == :not_logged_in -%>
        <form class="navbar-form navbar-right">
        <div class="form-group">
        <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
        <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      <% else -%>
        <li><a href="#">Signed in as: <span class="label label-primary"><%= session[:person][:fname] %></span></a></li>
      <% end -%>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
</div>